base02 = "#282a36"
base03 = "#34353e"
base01 = "#43454f"
base00 = "#78787e"
base0 = "#a5a5a9"
base1 = "#e2e4e5"
base2 = "#eff0eb"
base3 = "#f1f1f0"
red = "#ff5c57"
orange = "#ff9f43"
yellow = "#f3f99d"
green = "#5af78e"
blue = "#9aedfe"
cyan = "#57c7ff"
magenta = "#ff6ac1"
violet = "#b434eb"
